
.bg {
	background-color: #D48EAF;
}

.container {
	height: 100vh;
}

.form {
	background-color: #fff;
	padding: 45px 90px;
	border-radius: 20px;
	color: #000;
	box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
}

.form__group-text {
	font-size: 16px;
	font-weight: 400;
}

.form__title {
	margin: 0;
	font-weight: 900;
	font-size: 32px;
}

.form__desc {
	margin: 0;
	font-weight: 400;
	font-size: 18px;
	margin-bottom: 15px;
}

.form__link {
	margin: 0;
	margin-top: 30px;
}

.form__link>a {
	color: #D48EAF;
}

.login {
	height: 100vh;
	position: relative;
}

.login__form {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

/* .custom-checkbox {
	position: relative;
	width: 100%;
} */

/* для элемента input c type="checkbox" */
.custom-checkbox>input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

/* для элемента label, связанного с .custom-checkbox */
.custom-checkbox>span {
	user-select: none;
	font-weight: 400;
	display: inline-block;
	height: 1.3em;
	position: relative;
	margin-left: 25px;
}

/* создание в label псевдоэлемента before со следующими стилями */
.custom-checkbox>span::before {
	content: '';
	display: inline-block;
	width: 1.3em;
	height: 1.3em;
	border: 1px solid #adb5bd;
	border-radius: 0.25em;
	margin-right: 0.5em;
	position: absolute;
	margin-left: -25px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 60% 60%;
}

/* стили при наведении курсора на checkbox */
.custom-checkbox>input:not(:disabled):not(:checked)+span:hover::before {
	border-color: #F6B6D6;
}

/* стили для активного чекбокса (при нажатии на него) */
.custom-checkbox>input:not(:disabled):active+span::before {
	background-color: #F6B6D6;
	border-color: #F6B6D6;
}

/* стили для чекбокса, находящегося в фокусе */
.custom-checkbox>input:focus+span::before {
	box-shadow: 0 0 0 0.2rem rgba(246, 182, 214, 0.25);
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox>input:focus:not(:checked)+span::before {
	border-color: #F6B6D6;
}

/* стили для чекбокса, находящегося в состоянии checked */
.custom-checkbox>input:checked+span::before {
	border-color: #D48EAF;
	background-color: #D48EAF;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox>input:disabled+span::before {
	background-color: #F6B6D6;
}
